/* page.module.css */
/* Page-specific styles */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 60px;
  margin: 100px;
}

.heading {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 10px;
  text-decoration: none;
}

.card h2:hover {
  color:grey;
}

.tags {
  margin-bottom: 10px;
}

.tags span {
  display: inline-block;
  background-color: #f0f0f0;
  color: #555;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
}

.tags span:last-child {
  margin-right: 0;
}

/* Page-specific styles */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 300px); 
  margin-top: 10px;
}

.description {
  background-color: #f9f9f9;
  margin: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.description h1 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 0;
}

.tags span {
  display: inline-block;
  background-color: #f0f0f0;
  color: #555;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 5px;
}

.tags span:last-child {
  margin-right: 0;
}

.description p {
  color: #444;
  line-height: 1.6;
}


/* Navigation bar styles */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.brand a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.brand a:hover {
  text-decoration: underline;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover {
  text-decoration: underline;
}